@font-face {
  font-family: "Freestyle";
  src: url("fonts/Freestyle.TTF");
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway.ttf");
}
@font-face {
  font-family: "FA";
  src: url("fonts/Font\ Awesome\ Regular.otf");
}
:root {
  --text-color: #fbfbfb;
  --background: #1e5126;
  --input-background: #1e5126;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--background);
  color: var(--text-color);
  font-family: "Raleway";
  position: relative;
}
h1 {
  margin: 5rem auto;
  display: block;
  font-size: 8rem;
  font-weight: 100;
  font-family: "Freestyle";
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  align-self: center;
}
.first-heading,
.input-wrap {
  grid-column: span 4;
}
.last-heading {
  grid-column: span 2;
}
main.home-main {
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(4, 65px);
  grid-auto-rows: 65px;
  gap: 50px;
  justify-content: center;
}

input {
  -webkit-appearance: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-wrap {
  background-color: var(--input-background);
  border-radius: 1rem;
  box-shadow: 8px 8px 16px #1a4520, -8px -8px 16px #235d2c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 5rem;
}
.input-wrap span {
  font-family: "FA";
  font-size: 1.6rem;
  transform: translate(-50%, -50%);
  position: absolute;
  right: 20px;
  top: 50%;
}
input[type="text"] {
  background: 0;
  border: 0;
  font-size: 2rem;
  color: var(--text-color);
  outline: 0;
  text-align: center;
  width: 100%;
}

input[type="number"] {
  display: block;
  border: 0;
  background: var(--input-background);
  box-shadow: 8px 8px 16px #1a4520, -8px -8px 16px #235d2c;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 2rem;
  color: var(--text-color);
  outline: 0;
}

.final-score {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  background: var(--input-background);
  box-shadow: 8px 8px 16px #1a4520, -8px -8px 16px #235d2c;
  border-radius: 1rem;
}

.plus {
  cursor: pointer;
  transition: 0.3s;
}
.plus:hover {
  color: #000;
}
.eval,
.reset {
  background: var(--background);
  color: var(--text-color);
  border: 0;
  box-shadow: 8px 8px 16px #1a4520ff, -8px -8px 16px #235d2cff,
    inset 8px 8px 16px #1a452000, inset -8px -8px 16px #235d2c00;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  cursor: pointer;
}
.eval:hover,
.reset:hover {
  box-shadow: 8px 8px 16px #1a452000, -8px -8px 16px #235d2c00,
    inset 8px 8px 16px #1a4520ff, inset -8px -8px 16px #235d2cff;
}

.row {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(1, 65px);
  gap: 50px;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 100%;
  margin: 10rem auto 0;
}
footer img {
  height: 14rem;
}
footer a {
  font-size: 2.4rem;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  transition: width 0.3s;
}
footer a::after {
  content: "";
  width: 50px;
  height: 1px;
  display: block;
  background: var(--text-color);
  margin: 2rem auto;
  transition: width 0.3s;
}
footer a:hover:after {
  width: 150px;
}
.alert-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.alert {
  background-color: var(--input-background);
  border-radius: 5rem;
  width: 50%;
  height: 30vh;
  padding: 2rem;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alert h4 {
  font-size: 2.4rem;
  text-align: center;
}
.alert button {
  background-color: var(--background);
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 15px;
  color: var(--text-color);
  border: 0;
  transition: 0.3s;
  margin-top: 5rem;
  cursor: pointer;
  box-shadow: 8px 8px 16px #1a4520ff, -8px -8px 16px #235d2cff,
    inset 8px 8px 16px #1a452000, inset -8px -8px 16px #235d2c00;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
}
.alert button:hover {
  box-shadow: 8px 8px 16px #1a452000, -8px -8px 16px #235d2c00,
    inset 8px 8px 16px #1a4520ff, inset -8px -8px 16px #235d2cff;
}
.toggle-vis {
  opacity: 1;
  pointer-events: auto;
}
.mobile-final {
  margin-top: 20px;
  padding: 0 2rem;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 65px);
  gap: 20px;
}
.mobile-final .final-score {
  grid-column: span 2;
  grid-row: span 2;
}
.mobile-final button {
  grid-row: span 2;
}
/* Credits page */
.credits-main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.credits-main .img-div {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.credits-main .img-div img {
  width: 100%;
  display: block;
}
.img-div .arrow {
  font-size: 4rem;
}
.credits-main .credits-text {
  width: 50%;
  margin-left: 4rem;
}
.definition,
.manual-text {
  font-size: 1.8rem;
  line-height: 1.6;
  width: 100%;
  margin-bottom: 10rem;
  text-align: justify;
}
.crackhead {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 5rem;
}
.crackhead::after {
  content: "";
  width: 9rem;
  height: 1px;
  display: block;
  background: var(--text-color);
  margin: 2rem auto;
}
@media only screen and (max-width: 1000px) {
  main.home-main {
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
  }
  .first-heading,
  .input-wrap {
    grid-column: span 3;
  }
  .row {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-column: span 5;
  }
  .alert {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .credits-main {
    flex-direction: column;
  }
  .credits-main .img-div {
    width: 100%;
    margin-bottom: 10rem;
  }
  .credits-main .credits-text {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 720px) {
  html {
    font-size: 50%;
  }
  h1 {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 50px;
    font-size: 6rem;
  }
  main.home-main {
    grid-template-columns: repeat(4, 1fr);
  }
  .first-heading,
  .input-wrap {
    grid-column: span 2;
  }
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
  }
  .empty {
    display: none;
  }
  .last-heading {
    display: none;
  }
  .desktop {
    display: none;
    pointer-events: none;
  }
  .mobile-final {
    display: grid;
  }
}
@media only screen and (max-width: 530px) {
  span:not(.plus) {
    display: none;
  }
  html {
    font-size: 40%;
  }
}
